/*
Theme Name: Swing Works
Theme URI: https://wordpress.org/themes/twentytwentyone/
Template: twentytwentyone
Author: the Orient Software Development team
Author URI: https://orientsoftware.com/
Description: Twenty Twenty-One is a blank canvas for your ideas and it makes the block editor your best brush. With new block patterns, which allow you to create a beautiful layout in a matter of seconds, this theme’s soft colors and eye-catching — yet timeless — design will let your work shine. Take it for a spin! See how Twenty Twenty-One elevates your portfolio, business website, or personal blog.
Tags: one-column,accessibility-ready,custom-colors,custom-menu,custom-logo,editor-style,featured-images,footer-widgets,block-patterns,rtl-language-support,sticky-post,threaded-comments,translation-ready
Version: 1.0.1622347315
Updated: 2021-05-30 04:01:55

*/

@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v5/qFdH35WCmI96Ajtm81GlU9s.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81l6d87N4ho.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81keds7N4ho.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81kCdc7N4ho.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/overpass/v5/qFdA35WCmI96Ajtm81kmdM7N4ho.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  /* Font Family */
  --global--font-primary: "Overpass", Arial, sans-serif;
  --global--font-secondary: "Overpass", Arial, sans-serif;

  /* Color */
  --global--color-yellow: #dee410;
  --global--color-dark-gray: #32504c;
  --global--color-green: #0c7554;
  --global--color-gray: #dce6db;
  --global--color-light-gray: #f2f0f0;
  --global--color-primary: var(--global--color-green);

  /* Body text color, site title, footer text color. */
  --global--color-secondary: var(--global--color-green);

  /* Headings */
  --global--color-primary-hover: var(--global--color-primary);
  --global--color-background: var(--global--color-light-gray);

  /* Font Size */
  --global--font-size-base: 20px;
  --global--font-size-sm: 17px;
  --global--font-size-md: 20px;
  --global--font-size-lg: 22px;
  --global--font-size-xl: 28px;
  --global--font-size-xxl: 48px;
  --global--font-size-xxxl: 52px;
  --global--font-size-page-title: var(--global--font-size-xxl);
  --global--letter-spacing: normal;

  /* Line Height */
  --global--line-height-body: 28px;
  --global--line-height-heading: 36px;
  --global--line-height-page-title: 54px;

  /* Headings */
  --heading--font-weight: bold;
  --heading--font-weight-page-title: bold;
  --heading--font-weight-strong: bold;

  /* Buttons */
  --button--line-height: 24px;
  --button--font-size: var(--global--font-size-sm);
  --button--font-weight: bold;
  --button--color-text: var(--global--color-green);
  --button--color-text-hover: var(--global--color-yellow);
  --button--color-text-active: var(--global--color-yellow);
  --button--color-background: transparent;
  --button--color-background-active: var(--global--color-green);
  --button--border-radius: 22px;
  --button--border-width: 2px;
  --button--padding-vertical: 13px;
  --button--padding-horizontal: calc(1.5 * var(--button--padding-vertical));

  /* Spacing */
  --global--spacing-horizontal: 20px;
  --global--spacing-vertical: 20px;
}

/**
 * Root Media Query Variables
 */
:root {
  --responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal));
  --responsive--aligndefault-width: calc(
    100vw - var(--responsive--spacing-horizontal)
  );
  --responsive--alignwide-width: calc(
    100vw - var(--responsive--spacing-horizontal)
  );
  --responsive--alignfull-width: 100%;
  --responsive--alignright-margin: var(--global--spacing-horizontal);
  --responsive--alignleft-margin: var(--global--spacing-horizontal);
}

@media only screen and (min-width: 482px) {
  :root {
    --responsive--aligndefault-width: min(
      calc(100vw - 4 * var(--global--spacing-horizontal)),
      720px
    );
    --responsive--alignwide-width: calc(
      100vw - 4 * var(--global--spacing-horizontal)
    );
    --responsive--alignright-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    );
    --responsive--alignleft-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    );
  }
}

@media only screen and (min-width: 822px) {
  :root {
    --responsive--aligndefault-width: min(
      calc(100vw - 8 * var(--global--spacing-horizontal)),
      1440px
    );
    --responsive--alignwide-width: min(
      calc(100vw - 8 * var(--global--spacing-horizontal)),
      1680px
    );
  }
}

/**
 * Reset specific elements to make them easier to style in other contexts.
 */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
form,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Overpass", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

p,
ul {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

p {
  color: var(--global--color-dark-gray);
}

button,
legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

blockquote p {
  font-family: var(--global--font-primary);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

a {
  color: var(--global--color-green);
  text-decoration: underline;
  text-decoration-style: solid;
}

a:hover,
.widget-area a:hover,
p.has-text-color a:hover {
  color: var(--global--color-dark-gray);
  text-decoration: underline;
  text-decoration-style: solid;
}

.site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
  outline: none;
  text-decoration: underline;
  text-decoration-style: solid;
  background: none;
}

.wp-block-group {
  display: block;
  clear: both;
}

@media (min-width: 782px) {
  .wp-block-column:not(:first-child) {
    margin-left: 1.5em;
  }

  .has-52-font-size {
    font-size: 52px;
    font-weight: bold;
    line-height: 50px;
  }

  .has-22-font-size {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
  }

  .has-48-font-size {
    font-size: 48px;
    font-weight: bold;
    line-height: 54px;
  }

  .has-28-font-size {
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
  }

  .has-20-font-size {
    font-size: 20px;
    line-height: 28px;
  }

  .has-17-font-size {
    font-size: 17px;
    line-height: 24px;
  }

  .has-18-font-size {
    font-size: 18px;
    line-height: 26px;
  }
}

#main {
  padding-top: 0;
}

#main ul {
  margin-top: 35px;
  margin-bottom: 35px;
}

#main li,
#main li:hover {
  list-style: none;
  margin-left: 1.3em;
}

#main li::before {
  content: "";
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 100%;
  border: 2px solid;
  background-color: transparent;
  margin-right: 10px;
  margin-left: -1.3em;
}

#main li:hover::before {
  content: "";
  display: inline-block;
  border-radius: 100%;
  border: 0.4em solid;
  margin-right: 10px;
}

#main li a {
  text-decoration: none;
}

#main li:hover a {
  color: var(--global--color-green);
  text-decoration: underline;
  text-decoration-style: solid;
}

#main .entry-header {
  display: none;
}

#main .button-arrow-left a {
  text-decoration: none;
}

#main .button-arrow-left a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  color: var(--global--color-green);
}

#main .button-arrow-left span {
  font-size: 30px;
  margin-right: 15px;
  text-decoration: none;
  color: var(--global--color-green);
  transition: 0.5s;
}

#main .button-arrow-left:hover span {
  color: var(--global--color-green);
  text-decoration: none;
}

#main .wp-block-buttons {
  margin-top: 40px;
}

/**
 * Button
 */
.site .button,
button,
input[type="submit"],
input[type="reset"],
.wp-block-search .wp-block-search__button,
.wp-block-button .wp-block-button__link,
.wp-block-file a.wp-block-file__button {
  text-transform: uppercase;
}

.site .button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
.wp-block-search .wp-block-search__button:focus,
.wp-block-button .wp-block-button__link:focus,
.wp-block-file a.wp-block-file__button:focus {
  outline: none;
}

/**
 * Block Options
 */
.wp-block-button:not(.is-style-outline)
  .wp-block-button__link:not(:hover):not(:active):not(.has-text-color) {
  color: var(--global--color-green);
}

.wp-block-button:not(.is-style-outline)
  .wp-block-button__link:not(:hover):not(:active):not(.has-background) {
  background-color: var(--global--color-yellow);
  border: var(--button--border-width) solid var(--global--color-green);
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover,
.wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
  border-color: var(--global--color-green) !important;
  background-color: var(--global--color-green) !important;
  color: var(--global--color-yellow) !important;
}

/**
 * Header.
 */

#site-header .row {
  min-height: 107px;
  max-width: var(--responsive--aligndefault-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#site-header .brand a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#site-header .brand a::before {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  border-radius: 100%;
  background-color: var(--global--color-green);
  margin-right: 10px;
}

#site-header .primary-menu-wrapper ul li {
  display: inline;
}

#site-header .primary-menu-wrapper ul li:not(:last-child) {
  margin-right: 15px;
}

#site-header .primary-menu-wrapper ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

#site-header .primary-menu-wrapper ul li a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}

/**
 * Footer copyright.
 */

#footer-copyright {
  padding: 0;
  background-color: var(--global--color-yellow);
  color: var(--global--color-dark-gray);
  font-weight: bold;
  font-size: 17px;
}

#footer-copyright .row {
  max-width: var(--responsive--aligndefault-width);
  margin: 0 auto;
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
}

#footer-copyright .copyright span:nth-child(2) {
  margin: 0 8px;
}

#footer-copyright .scroll-top {
  position: relative;
}

#footer-copyright .arrow {
  cursor: pointer;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -8px;
  right: 5px;
}

#footer-copyright .arrow::before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 3px 3px 0 0;
  border-style: solid;
  border-color: var(--global--color-dark-gray);
  display: block;
  transform-origin: 100% 0;
}

/**
 * Footer info.
 */

#footer-info {
  padding: 0;
  margin-top: calc(6 * var(--global--spacing-vertical));
  background-color: var(--global--color-dark-gray);
}

#footer-info li,
#footer-info li:hover {
  list-style: none;
}

#footer-info li a,
#footer-info li p {
  color: var(--global--color-gray);
  font-weight: normal;
  font-size: 17px;
}

#footer-info .row {
  max-width: var(--responsive--aligndefault-width);
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  min-height: 320px;
}

#footer-info .social {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#footer-info .icons {
  flex: 100%;
}

#footer-info .icons ul {
  list-style: none;
}

#footer-info .icons li {
  display: inline-block;
}

#footer-info .icons li:hover {
  text-decoration: none;
}

#footer-info .icons li a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--global--color-gray);
  border-radius: 100%;
  color: var(--global--color-gray);
  font-size: 25px;
}

#footer-info .icons li a:hover {
  text-decoration: none;
  border: 2px solid var(--global--color-yellow);
  color: var(--global--color-yellow);
}

#footer-info .icons li a:hover svg {
  fill: var(--global--color-yellow);
}

#footer-info .icons li:nth-child(2) {
  margin-left: 15px;
  margin-right: 15px;
}

#footer-info .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
}

#footer-info .contact div {
  flex: 50%;
  max-width: 222px;
}

#footer-info .phone {
  text-align: right;
  padding-right: 20px;
}

#footer-info .contact ul li:last-child {
  padding-top: 10px;
}

#footer-info .logo,
#footer-info .icons {
  height: 80px;
}

#footer-info .logo img {
  width: 181px;
  height: 44px;
}

/**
 * Footer common.
 */

footer li a {
  color: var(--global--color-gray);
  text-decoration: none;
}

footer li:hover a {
  color: var(--global--color-gray);
}

/**
 * Intro.
 */

#intro {
  margin-bottom: 0;
}

#intro .wp-block-columns {
  display: flex;
  justify-content: center;
}

#intro .intro-text-col {
  margin-right: -60px;
  z-index: 2;
  width: 554px;
  background-color: var(--global--color-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33%;
}

#intro .intro-image-col {
  margin: 0;
  flex-basis: 67%;
}

#intro .intro-text-group {
  width: 344px;
  margin: 50px;
}

#intro .intro-text-group h1,
#intro .intro-text-group h2,
#intro .intro-text-group h3,
#intro .intro-text-group h4,
#intro .intro-text-group h5,
#intro .intro-text-group h6,
#intro .intro-text-group p {
  padding: 0;
}

#intro .intro-text-group li:not(:first-child) {
  margin-top: 10px;
}

#intro .intro-image-col .nextend-bullet-bar {
  margin-right: 530px;
}

/**
 * GolfPro.
 */

#golfpro,
#golfschul {
  margin-top: 110px;
  margin-bottom: 0;
}

#golfpro .wp-block-columns,
#golfschul .wp-block-columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

#golfpro .golfpro-text-col,
#golfschul .golfschul-text-col {
  background-color: var(--global--color-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 828px;
}

#golfpro .golfpro-image-col,
#golfschul .golfschul-image-col {
  margin: 0;
  margin-right: -80px;
  z-index: 2;
}

#golfschul .golfschul-image-col {
  margin-right: 0;
  margin-left: -50px;
}

#golfpro .golfpro-text-group {
  margin: 100px;
}

#golfschul .golfschul-text-group {
  margin: 120px;
}

#golfpro .golfpro-text-group ul li:hover::before,
#golfschul .golfschul-text-group ul li:hover::before {
  border: 2px solid;
}

#golfpro .golfpro-text-group h1,
#golfpro .golfpro-text-group h2,
#golfpro .golfpro-text-group h3,
#golfpro .golfpro-text-group h4,
#golfpro .golfpro-text-group h5,
#golfpro .golfpro-text-group h6,
#golfpro .golfpro-text-group p {
  padding: 0;
}

#golfschul .golfschul-text-group h1,
#golfschul .golfschul-text-group h2,
#golfschul .golfschul-text-group h3,
#golfschul .golfschul-text-group h4,
#golfschul .golfschul-text-group h5,
#golfschul .golfschul-text-group h6,
#golfschul .golfschul-text-group p {
  padding: 0;
}

#golfpro .golfpro-text-group li:not(:first-child),
#golfschul .golfschul-text-group li:not(:first-child) {
  margin-top: 20px;
}

/**
 * GolfPlatze.
 */

#golfplatze {
  margin-top: 110px;
  margin-bottom: 95px;
}

#golfplatze .golfplatze-nav {
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
}

#golfplatze .golfplatze-nav ul {
  margin-bottom: 0;
  margin-top: 0;
}

#golfplatze .golfplatze-nav li {
  display: inline;
  margin-right: 45px;
}

#golfplatze .golfplatze-nav li:last-child {
  margin-right: 0;
}

/**
 * GolfClub.
 */

#erlangen .golfclub,
#herrnhof .golfclub,
#steigerwald .golfclub {
  margin-top: 60px;
  margin-bottom: 60px;
}

#erlangen .golfclub .wp-block-columns,
#herrnhof .golfclub .wp-block-columns,
#steigerwald .golfclub .wp-block-columns {
  display: flex;
}

#erlangen .golfclub .golfclub-text,
#herrnhof .golfclub .golfclub-text,
#steigerwald .golfclub .golfclub-text {
  flex: 1;
  margin-bottom: 0;
}

#erlangen .golfclub .golfclub-text .wp-block-group,
#herrnhof .golfclub .golfclub-text .wp-block-group,
#steigerwald .golfclub .golfclub-text .wp-block-group {
  padding: 30px;
  box-sizing: border-box;
  background-color: var(--global--color-gray);
  pointer-events: none;
}

#erlangen .golfclub .golfclub-text .wp-block-group:hover,
#herrnhof .golfclub .golfclub-text .wp-block-group:hover,
#steigerwald .golfclub .golfclub-text .wp-block-group:hover {
  background-color: var(--global--color-yellow);
}

#erlangen .golfclub .golfclub-image,
#herrnhof .golfclub .golfclub-image,
#steigerwald .golfclub .golfclub-image {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  cursor: move;
  position: relative;
}

#erlangen .golfclub .golfclub-image .wp-block-image,
#herrnhof .golfclub .golfclub-image .wp-block-image,
#steigerwald .golfclub .golfclub-image .wp-block-image {
  position: absolute;
}

#erlangen .golfclub .golfclub-image .wp-block-image,
#herrnhof .golfclub .golfclub-image .wp-block-image,
#steigerwald .golfclub .golfclub-image .wp-block-image {
  max-width: none;
  height: 100%;
  min-width: 100%;
}

#erlangen .golfclub .golfclub-image img,
#herrnhof .golfclub .golfclub-image img,
#steigerwald .golfclub .golfclub-image img {
  max-width: none;
  height: 100%;
  min-width: 100%;
}

#erlangen .golfclub .button-arrow-right a,
#herrnhof .golfclub .button-arrow-right a,
#steigerwald .golfclub .button-arrow-right a {
  text-decoration: none;
  color: var(--global--color-green);
  pointer-events: auto;
}

#erlangen .golfclub .button-arrow-right a:hover,
#herrnhof .golfclub .button-arrow-right a:hover,
#steigerwald .golfclub .button-arrow-right a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  color: var(--global--color-green);
}

#erlangen .golfclub .button-arrow-right span,
#herrnhof .golfclub .button-arrow-right span,
#steigerwald .golfclub .button-arrow-right span {
  font-size: 30px;
  margin-left: 5px;
  text-decoration: none;
  color: var(--global--color-green);
  transition: 0.5s;
}

#erlangen .golfclub .button-arrow-right:hover span,
#herrnhof .golfclub .button-arrow-right:hover span,
#steigerwald .golfclub .button-arrow-right:hover span {
  color: var(--global--color-green);
  text-decoration: none;
  margin-left: 30px;
}

/**
 * Showcase.
 */

#showcase {
  margin-top: 85px;
}

#showcase .n2-ss-slider-controls {
  width: var(--responsive--aligndefault-width);
  margin-left: auto;
  margin-right: auto;
  align-items: flex-end;
}

/**
 * Laptop style.
 */
@media only screen and (max-width: 1440px) {
  .has-52-font-size {
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
  }

  .has-48-font-size {
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;
  }

  .has-28-font-size {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
  }

  .has-20-font-size {
    font-size: 18px;
    line-height: 26px;
  }

  /* Golf Pro */
  #golfpro .golfpro-text-group {
    margin: 50px 100px;
  }

  #golfschul .golfschul-text-group {
    margin: 55px;
  }
}

/**
 * Mobile style.
 */
@media only screen and (max-width: 1200px) {
  /* Override */
  .wp-block-group.alignwide {
    max-width: 100vw;
  }

  .wp-block-columns {
    flex-direction: column;
  }

  .wp-block-separator {
    display: none;
  }

  .wp-block-column:nth-child(2n) {
    margin-left: 0;
  }

  :root {
    /* Font Size */
    --global--font-size-base: 18px;
    --global--font-size-md: 18px;
    --global--font-size-xl: 24px;
    --global--font-size-xxl: 36px;

    /* Line Height */
    --global--line-height-body: 26px;
    --global--line-height-heading: 30px;
    --global--line-height-page-title: 40px;
  }

  h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
  }

  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  p,
  ul {
    font-size: 18px;
    line-height: 26px;
    font-weight: normal;
  }

  #site-header .primary-menu-wrapper {
    display: none;
  }

  /* Footer info */
  #footer-info .row {
    flex-direction: column;
    padding: 50px 0;
  }

  #footer-info .contact {
    flex-direction: column;
  }

  #footer-info .phone {
    order: 1;
    text-align: left;
    margin-top: 45px;
  }

  #footer-info .logo {
    order: 2;
    margin-top: 45px;
  }

  #footer-info .address {
    order: 3;
    margin-top: 30px;
  }

  #footer-info .contact ul li:last-child {
    padding-top: 0;
  }

  /* Footer copyright */
  #footer-copyright {
    height: 140px;
  }

  #footer-copyright .row {
    flex-direction: column;
  }

  #footer-copyright .arrow {
    width: 30px;
    height: 30px;
    top: 30px;
    left: 10px;
    bottom: 0;
    right: 0;
  }

  /* Intro */
  #intro {
    margin-bottom: 100px;
  }

  #intro .wp-block-columns {
    flex-direction: column-reverse;
  }

  #intro .intro-image-col {
    width: 100%;
    z-index: 2;
  }

  #intro .intro-text-col {
    width: 100%;
    margin: 0;
    margin-top: -40px;
    padding-top: 30px;
    z-index: 1;
    margin-top: -48px;
  }

  #intro .intro-text-group {
    width: 100%;
    margin: 50px 20px;
  }

  #intro .intro-image-col .nextend-bullet-bar {
    margin-right: 0;
  }

  /* GolfPro */
  #golfpro,
  #golfschul {
    margin: 0;
  }

  #golfpro .golfpro-image-col,
  #golfschul .golfschul-image-col {
    width: 100%;
    margin: 0;
  }

  #golfpro .golfpro-text-col,
  #golfschul .golfschul-text-col {
    width: 100%;
    max-width: 100%;
    margin: 0;
    margin-top: -50px;
    padding-top: 30px;
  }

  #golfpro .golfpro-text-group,
  #golfschul .golfschul-text-group {
    width: 100%;
    margin: 50px 20px;
  }

  #golfschul .golfschul-image-col {
    order: 1;
  }

  #golfschul .golfschul-text-col {
    order: 2;
  }

  /* GolfPlatze */
  #golfplatze {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #golfplatze .golfplatze-nav {
    text-align: left;
    margin: 0;
  }

  #golfplatze .golfplatze-nav ul {
    margin-top: 35px;
  }

  #golfplatze .golfplatze-nav li {
    display: block;
    margin-bottom: 15px;
  }

  /* GolfClub */
  #erlangen .golfclub,
  #herrnhof .golfclub,
  #steigerwald .golfclub {
    width: 100%;
  }

  #erlangen .golfclub .golfclub-image,
  #herrnhof .golfclub .golfclub-image,
  #steigerwald .golfclub .golfclub-image {
    order: 1;
  }

  #erlangen .golfclub .golfclub-image .wp-block-image,
  #herrnhof .golfclub .golfclub-image .wp-block-image,
  #steigerwald .golfclub .golfclub-image .wp-block-image {
    height: 300px;
    position: unset;
  }

  #erlangen .golfclub .golfclub-text,
  #herrnhof .golfclub .golfclub-text,
  #steigerwald .golfclub .golfclub-text {
    order: 2;
  }

  #erlangen .golfclub .wp-block-columns,
  #herrnhof .golfclub .wp-block-columns,
  #steigerwald .golfclub .wp-block-columns {
    max-width: var(--responsive--alignfull-width);
    width: var(--responsive--alignfull-width);
  }

  #erlangen .golfclub .golfclub-text h2:first-child,
  #herrnhof .golfclub .golfclub-text h2:first-child,
  #steigerwald .golfclub .golfclub-text h2:first-child {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  #erlangen .golfclub .golfclub-text p,
  #herrnhof .golfclub .golfclub-text p,
  #steigerwald .golfclub .golfclub-text p {
    margin: 20px;
  }

  #erlangen .golfclub .golfclub-text h2,
  #herrnhof .golfclub .golfclub-text h2,
  #steigerwald .golfclub .golfclub-text h2,
  #erlangen .golfclub .golfclub-text p,
  #herrnhof .golfclub .golfclub-text p,
  #steigerwald .golfclub .golfclub-text p {
    max-width: var(--responsive--aligndefault-width);
    margin-left: auto;
    margin-right: auto;
  }

  #erlangen .golfclub .golfclub-text .wp-block-group,
  #herrnhof .golfclub .golfclub-text .wp-block-group,
  #steigerwald .golfclub .golfclub-text .wp-block-group {
    padding: 20px;
  }

  #erlangen .golfclub .golfclub-text .wp-block-group p,
  #herrnhof .golfclub .golfclub-text .wp-block-group p,
  #steigerwald .golfclub .golfclub-text .wp-block-group p {
    max-width: var(--responsive--aligndefault-width);
    margin-left: auto;
    margin-right: auto;
  }

  #erlangen .golfclub .golfclub-text .wp-block-group p:first-child,
  #herrnhof .golfclub .golfclub-text .wp-block-group p:first-child,
  #steigerwald .golfclub .golfclub-text .wp-block-group p:first-child {
    margin-bottom: 20px;
  }

  /* Showcase */
  #showcase {
    margin-top: 85px;
  }

  #showcase .n2-ss-slider-controls {
    align-items: center;
  }
}
