/**
 * Tablet style.
 */
@media only screen and (max-width: 1200px) {
  /* Override */
  .wp-block-group.alignwide {
    max-width: 100vw;
  }

  .wp-block-columns {
    flex-direction: column;
  }

  .wp-block-separator {
    display: none;
  }

  .wp-block-column:nth-child(2n) {
    margin-left: 0;
  }

  /* Intro */
  #intro {
    margin-bottom: 100px;
  }

  #intro .wp-block-columns {
    flex-direction: column-reverse;
  }

  #intro .intro-image-col {
    width: 100%;
    z-index: 2;
  }

  #intro .intro-text-col {
    width: 100%;
    margin: 0;
    margin-top: -40px;
    padding-top: 30px;
    z-index: 1;
  }

  #intro .intro-text-group {
    width: 100%;
    margin: 50px;
  }

  #intro .intro-image-col .nextend-bullet-bar {
    margin-right: 0;
  }

  /* GolfPro */
  #golfpro,
  #golfpro-reverse {
    margin: 0;
  }

  #golfpro .golfpro-image-col,
  #golfpro-reverse .golfpro-reverse-image-col {
    width: 100%;
    margin: 0;
  }

  #golfpro .golfpro-text-col,
  #golfpro-reverse .golfpro-reverse-text-col {
    width: 100%;
    margin: 0;
    margin-top: -50px;
    padding-top: 30px;
  }

  #golfpro .golfpro-text-group,
  #golfpro-reverse .golfpro-reverse-text-group {
    width: 100%;
    margin: 50px;
  }

  #golfpro-reverse .golfpro-reverse-image-col {
    order: 1;
  }

  #golfpro-reverse .golfpro-reverse-text-col {
    order: 2;
  }

  /* GolfPlatze */
  #golfplatze {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  #golfplatze .golfplatze-nav {
    text-align: left;
    margin: 0;
  }

  #golfplatze .golfplatze-nav ul {
    margin-top: 35px;
  }

  #golfplatze .golfplatze-nav li {
    display: block;
    margin-bottom: 15px;
  }

  /* GolfClub */
  #golfclub {
    width: 100%;
  }

  #golfclub .golfclub-image {
    order: 1;
  }

  #golfclub .golfclub-text {
    order: 2;
  }

  #golfclub .golfclub-text h2:first-child {
    margin-top: 30px;
  }

  /**
  * Showcase.
  */

  #showcase {
    margin-top: 85px;
  }

  #showcase .n2-ss-slider-controls {
    align-items: center;
  }
}
